<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="static/css/about-us.css">
</head>
<body>
<h1 class="title">
  ABOUT US
  <br>
  <img src="https://image.ibb.co/nk616F/Layer_1_copy_21.png" width="47" height="11" align="center">
</h1>

<div class="content-container">
  <div class="card" onclick="location.href='/team';" style="cursor: pointer;">
    <h2>Our Team</h2>
    <p>
      We are a team of interns at Springboard Infosys, guided by our mentor, Nitig Singh, dedicated to enhancing disaster preparedness and response through innovative data analysis.
    </p>
</div>


  <div class="card">
    <h2>Our Mission</h2>
    <p>
      Our project focuses on leveraging historical and static data to provide insights that help communities and responders prepare for and mitigate the impact of natural disasters.
    </p>
  </div>

  <div class="card">
    <h2>Technology & Approach</h2>
    <p>
      Our team utilizes machine learning and natural language processing techniques to analyze social media data, historical disaster reports, and structured datasets. By identifying patterns and extracting meaningful insights, we equip disaster management teams with data-driven tools.
    </p>
  </div>

  <div class="card">
    <h2>Our Vision</h2>
    <p>
      Through our research and collaboration, we’re driven by a commitment to enhancing community resilience and preparedness. By learning from past events, we aim to make a difference in future disaster response efforts.
    </p>
  </div>
</div>
</body>
</html>
