<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Our Team</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="static/css/team.css">
</head>
<body>
  <div class="content-container">
    <div class="team-box">
      <h2>Our Mentor</h2>
      <p>Nitin Singh</p>

      <h2>Leads</h2>
      <ul>
        <li>Ashutosh Kumar Yadav</li>
        <li>Prajakta Tambare</li>
        <li>Rani Soni</li>
        <li>Vanshika Ganjoo</li>
      </ul>

      <h2>Team Members</h2>
      <ul>
        <li>Avanthika Katari</li>
        <li>Ayush Gupta</li>
        <li>Bustob Sarkar</li>
        <li>Deela Neha Reddy Thummuru</li>
        <li>Esthak Jerosin</li>
        <li>Geetha Reddy</li>
        <li>Gurudharshini K</li>
        <li>Kanchana Kapparam</li>
        <li>Karna Naik</li>
        <li>Karthikeya</li>
        <li>Kaushal Divekar</li>
        <li>Keerthi Swetha</li>
        <li>Moksha Kankariya</li>
        <li>Mohamed Hanifa B</li>
        <li>Rohitha Aiswarya Dora</li>
        <li>Shreekar Jukareddy</li>
        <li>Shubham Gohil</li>
        <li>Sriram .D</li>
        <li>YUVA SAI RITHVIK SAJJA</li>
      </ul>
    </div>
  </div>
</body>
</html>
